<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      

      <%if session[:user_id]%>

        <!-- Greetings username -->
        <li><a href="/users/<%= session[:user_id] %>">My Profile</a></li>
        
        <!-- Log out button -->
        <li>
          <form action="/session" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
            <button>Log out</button>
          </form>
        </li>

      <%else%>
        <!-- Sign up -->
        <li><form action="/users/new"><button>Sign up</button></form></li>

        <!-- Log in form -->
        <li>

          <form action="/login" method="POST">
            <button>Log in</button>
            <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
          </form>
        </li>

      <%end%>


    </ul>
  </nav>
</header>